:root {
	--red: #f87171;
	--green: #4aec8c;
}

.Timer {
	padding-top: 50px;
	/* max-width: 340px; */
	margin-top: 20px;
	text-align: center;
	background-color: #f1ddc9;
	color: #1f2937;
}

button {
	background-color: transparent;
	color: #ad6a41;
	border: 0;
	display: inline-block;
	width: 100px;
	cursor: pointer;
}

button.with-text {
	width: auto;
	background-color: #e9bfa5;
	border-radius: 10px;
	padding: 10px 20px;
	font-size: 1.4rem;
	line-height: 36px;
}

button.with-text svg {
	width: 36px;
	float: left;
	margin-right: 5px;
}

label {
	display: block;
	margin-bottom: 10px;
	margin-top: 20px;
	text-transform: capitalize;
}
