.biggerthing {
	display: flex;
	justify-content: center;
	background-color: #f7ede2 !important;
}

.hidden_show {
	display: flex;
	width: none;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 12px;
	border: 1px solid #ad6a41;
	background-color: #f7ede2;
	margin-left: -10px;
	margin-right: -10px;
}

.hidden_hidden {
	display: none;
}

.menu-menu {
	background-color: transparent;
	border: none;
	padding: 8px;
	color: #ad6a41;
	font-size: 18px;
	font-family: sans-serif;
	width: 100%;
	border-radius: 5px;
}

.menu-menu a {
	text-decoration: none;
	color: #ad6a41;
}

.menu-menu:hover {
	background-color: #f87171;
	transition: all 0.3s ease-in-out;
}

.navbar {
	width: 100%;
	max-width: 1245px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px;
	background-color: #f7ede2;
	max-height: 114.38px;
}

.navbar-logo {
	width: 96px;
	padding: 8px;
}

.navbar-list {
	display: flex;
}

.navbar-button {
	background-color: transparent;
	border: none;
	padding: 0px 24px;
	text-decoration: none;
	color: #ad6a41;
	font-size: 24px;
	font-family: sans-serif;
	cursor: pointer;
}

.navbar-button a {
	text-decoration: none 2px solid #ad6a41;
	color: #1f2937;
	line-height: 32px;
	font-weight: 500;
}

.navbar-button:hover {
	text-decoration: underline !important;
}

.contact-button {
	background-color: #ad6a41;
	align-items: center;
	display: flex;
	border: none;
	padding: 10px 20px;
	text-decoration: none !important;
	font-size: 18px;
	font-family: sans-serif;
	cursor: pointer;
	border-radius: 50px;
	height: 44px;
	color: white;
}

.contact-button a {
	text-decoration: none;
	color: #fff;
	line-height: 28px;
	display: flex;
	align-items: center;
}

.contact-button:hover {
	background-color: #f87171;
	transition: all 0.3s ease-in-out;
}

.menu-button {
	max-width: 40px;
	max-height: 40px;
	background-color: transparent !important;
	border: none !important;
	padding: 0px !important;
	cursor: pointer;
}

.menu {
	max-width: 40px;
	max-height: 40px;
}

@media (min-width: 769px) {
	.navbar-menu {
		display: none;
	}
	.hidden_show {
		display: none;
	}
}

@media (max-width: 1023px) {
	.navbar-button {
		font-size: 18px;
	}
	.contact-button {
		font-size: 14px;
	}
}

@media (max-width: 768px) {
	.navbar-list {
		display: none;
	}
	.navbar-contact {
		display: none;
	}
}
